@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.App {
  background-color: #FFFFFC;
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.App-Bar{
  color:white;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}

a{
  text-decoration: none;
  color: white;
}
a.visited{
  text-decoration: none;
  color: white;
}
a.hover{
  text-decoration: bold;
  color: white;
}